{
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
  "rules": {
    "no-new-object": ["error"],
    "quote-props": ["error", "as-needed"],
    "no-array-constructor": ["error"],
    "array-callback-return": ["error"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-useless-escape": ["error"],
    "func-style": ["warn", "expression"],
    "wrap-iife": ["error", "outside"],
    "no-loop-func": ["error"],
    "no-new-func": ["error"],
    "space-before-function-paren": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "no-param-reassign": ["error", { "props": false }],
    "no-restricted-syntax": ["error", "WithStatement"],
    "dot-notation": ["error", { "allowKeywords": false }],
    "no-undef": ["error", { "typeof": true }],
    "one-var": ["error", "never"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": false }],
    "eqeqeq": ["error", "always"],
    "no-case-declarations": ["error"],
    "no-nested-ternary": ["error"],
    "no-unneeded-ternary": ["error", { "defaultAssignment": false }],
    "brace-style": ["error", "1tbs"],
    "spaced-comment": ["error", "always"],
    "indent": ["error", 2],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "space-infix-ops": ["error", { "int32Hint": true }],
    "eol-last": ["error", "always"],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 1 }],
    "padded-blocks": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "max-len": ["error", { "code": 100, "ignoreUrls": true }],
    "comma-style": ["error", "last"],
    "comma-dangle": ["error", "never"],
    "semi": ["error", "always"],
    "radix": ["error", "always"],
    "id-length": ["warn", { "min": 2, "properties": "never" }],
    "camelcase": ["error", { "properties": "always" }],
    "new-cap": ["error", { "newIsCap": true, "capIsNew": false, "properties": true }],
    "no-underscore-dangle": ["error", { "allowAfterThis": false, "allowAfterSuper": false }]
  }
}